/*-------------- About US----------*/
.about-box{
    margin-top: 100px;
    padding: 0 50px;
}
.about-img{
    width: 100%;
    object-fit: cover;
}

.about-box-top-right{
    padding:50px 35px;
    display: flex;
    row-gap: 35px;
    flex-direction: column;
}

.about-box-top-right span{
    color: var(--blue);
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid var(--border);
    border-radius: 8px;
    width: fit-content;
}

.about-box-top-right h2{
    font-size: 3rem;
    font-weight: bold;
}

.about-box-top-right p{
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
    color: #8d8d8d;
}

.about-box-tab{
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.tab-pane p{
    font-size: 15px;
}

.about-box-bottom{
    margin-top: 30px;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 15px 15px 5px;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}
.about-bottom-icon{
    color: white;
    background-color: var(--blue);
    padding: 15px;
    border-radius: 50%;
}

.item span{
    font-size: 1.7rem;
    font-weight: bold;
}

.item1 , .item2{
    border-right: 1px solid var(--border);
}

@media (max-width: 576px) {

    .about-box{
        padding: 0 20px;
    }

    .about-box-top-right h2{
        font-size: 1.7rem;
    }

    .about-box-top-right p{
        font-size: 15px;
        line-height: 22px;
    }

    .item{
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .item span{
        font-size: 1.2rem;
    }

    .item1 , .item2{
        border-right: none;
        border-bottom: 1px solid var(--border);
        margin-bottom: 15px;
    }
}

@media (min-width: 577px) and (max-width: 768px){

    .about-box{
        padding: 0 30px;
    }

    .about-box-top-right h2{
        font-size: 2rem;
    }

    .about-box-top-right p{
        font-size: 16px;
        line-height: 25px;
    }

    .item{
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .item span{
        font-size: 1.5rem;
    }

    .item1 , .item2{
        border-right: none;
        border-bottom: 1px solid var(--border);
        margin-bottom: 20px;
    }
}




