/*---------------Choosing------------- */
.choosing{
    padding: 100px;
}
.choosing-box-left{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.choosing-box-left span{
    color: var(--blue);
    border: 1px solid var(--border);
    border-radius: 5px;
    display: inline-block;
    padding: 5px 15px;
    width: fit-content;
}
.choosing-box-left h2{
    font-size: 3rem;
    font-weight: bold;
}
.choosing-box-left button{
    border-radius: 8px;
    padding: 15px 50px;
    width: fit-content;
    font-size: 18px;
}

.choosing-box-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choosing-box-right-left{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.choosing-box{
    width:100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 20px;
    transition: all 500ms;
    cursor: pointer;
}

.choosing-box i{
    color: var(--blue);
    font-size: 3rem;
    width: fit-content;
}

.choosing-box a{
    text-decoration: none;
    width: fit-content;
}
.choosing-box:hover
,.choosing-box:hover i
, .choosing-box:hover a{
    color: white;
    background-color: var(--blue);
}

@media (max-width: 576px) {

    .choosing{
        padding:70px 30px;
    }
    .choosing-box-left{
        margin-top: 0;
        margin-bottom: 30px;
    }
    .choosing-box-left span{
        font-size: 15px;
    }
    .choosing-box-left h2{
        font-size: 2rem;
    }
    .choosing-box-left button{
        padding: 10px 40px;
        font-size: 15px;
    }

    .choosing-box-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
    }

    .choosing-box{
        row-gap: 5px;
        padding: 20px;
    }

    .choosing-box h3{
        font-size: 18px;
        font-weight: bold;
    }

    .choosing-box p{
        font-size:15px ;
    }

    .choosing-box i{
        font-size: 2rem;
    }

}

@media (min-width: 577px) and (max-width: 768px) {
    .choosing{
        padding:100px 40px;
    }
    .choosing-box-left{
        margin-top: 0;
        margin-bottom: 30px;
    }
    .choosing-box-left span{
        font-size: 15px;
    }
    .choosing-box-left h2{
        font-size: 2.3rem;
    }
    .choosing-box-left button{
        padding: 10px 40px;
        font-size: 17px;
    }

    .choosing-box-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
    }

    .choosing-box{
        row-gap: 8px;
        padding: 20px;
        width: 60%;
    }

    .choosing-box h3{
        font-size: 18px;
        font-weight: bold;
    }

    .choosing-box p{
        font-size:15px ;
    }

    .choosing-box i{
        font-size: 2rem;
    }
}
