.form-box{
    background-color: white;
    margin-top: -200px;
    z-index: 10;
    border-radius: 10px;
    padding: 50px;
}
.form-box span{
    border: 1px solid var(--border);
    border-radius: 5px;
    display: inline-block;
    padding: 5px 20px;
    color: var(--blue);
}

.form-box h2{
    font-size: 2rem;
    font-weight: bold;
}

.text-area{
    height: 400px;
}

@media (max-width: 576px) {
    .form-box{
        margin-top: -150px;
        padding:50px 20px;
    }

    .form-box span{
        padding: 5px 15px;
        font-size: 14px;
    }

    .form-box h2{
        font-size: 10px;
    }

    .text-area{
        height: 300px;
    }
}