/*-------------- Navbar ------------*/
nav{
    background:inherit;
    z-index: 99;
}
.nav-top{
    border-bottom: 1px solid #a2b0fa;
    padding: 10px;
    font-size: 14px;
}


.icon-nav-top{
    color: var(--blue);
}

.nav-bottom{
    z-index: 999;
}
.logo{
    text-decoration: none;
    font-size: 3rem;
    color: var(--blue);
    font-weight: bold;
}

.Item-Active{
    color: var(--blue);
}

.icon-nav-bottom a{
    padding: 5px;
    background: #E4E8FD;
    border-radius: 50%;
    margin-left: 20px;
}
.icon-nav-bottom i{
    color: var(--blue);
}

/*------------ slider -----------*/
.box-slider{
    position: relative;
    height: 100vh;
}
.image-slider{
    width:100% ;
    object-fit:contain;
    margin-top: -100px;
    z-index: -1;
    position: absolute;
}
.texts{
    padding: 120px;
}

.texts span{
    color: var(--blue);
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 8px;
    width: fit-content;
}

.texts p{
    font-size: 4rem;
    font-weight: bold;
    margin: 30px 0;
    width: 100%;
}

.texts button{
    padding: 12px 40px;
    font-size: 20px;
    width: fit-content;
}
.icon-prev{
    margin-left: -100px;
    background-color: var(--blue);
    display: inline-block;
    padding: 20px;
    border-radius: 50% 0 0 50%;
}
.icon-next{
    margin-right: -100px;
    background-color: var(--blue);
    display: inline-block;
    padding: 20px;
    border-radius: 0 50% 50% 0;
}

@media (max-width: 576px) {
    .container-fluid{
        row-gap: 10px;
       }

    .box-slider{
        height: 50vh;
    }
    .image-slider{
        height: inherit;
        object-fit: cover;
        object-position: right;
        margin-top: 0;
    }
    .texts{
        width: 100%;
        padding:60px 40px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .texts span{
        color: var(--blue);
        padding: 5px 15px;
        border: 1px solid #19195e;
        border-radius: 8px;
        font-size: 12px;
    }

    .texts p{
        font-size: 1.7rem;
        font-weight: bold;
        margin: 10px 0;
        width: 80%;
    }

    .texts button{
        padding: 5px 20px;
        font-size: 15px;
    }
    .icon-prev , .icon-next{
        display: none;
    }

}

@media (min-width: 577px) and (max-width: 768px) {
    .nav-top .container-fluid{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: left;
        align-items: start;
    }

    .box-slider{
        height: 70vh;
    }
    .image-slider{
        height: inherit;
        object-fit: cover;
        object-position: right;
        margin-top: 0;
    }
    .texts{
        width: 100%;
        padding:100px 40px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .texts span{
        font-size: 15px;
    }

    .texts p{
        font-size: 2rem;
        font-weight: bold;
        margin: 15px 0;
        width: 60%;
    }

    .texts button{
        padding: 5px 25px;
        font-size: 15px;
    }
    .icon-prev , .icon-next{
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 992px){

    .box-slider{
        height: 70vh;
    }

    .image-slider{
        height: inherit;
        object-fit: cover;
        object-position: right;
        margin-top: 0;
    }

    .texts{
        width: 100%;
        padding:110px 60px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }


    .texts p{
        font-size: 2.5rem;
        font-weight: bold;
        margin: 15px 0;
        width: 60%;
    }

    .image-slider{
        width:100% ;
        object-fit:cover;
        margin-top: -50px;
        height: 100vh;
    }

    .texts button{
        padding: 8px 25px;
        font-size: 18px;
    }
}
