.Our-Services{
    padding:0 100px;
}
.Our-Services-Top{
    text-align: center;
}
.List-group{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 30px 0 30px;
}
.List-group a{
    padding: 20px;
    outline: 1px solid var(--border);
    display: inline-block;
    border-radius: 10px;
}
.Services-Box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Services-img img{
    width: 100%;
    border-radius: 10px;
}

.Services-info ul{
    list-style: none;
    margin-left: -30px;
}

.Services-info li{
    display: flex;
    column-gap: 10px;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}
.Services-info li i{
    color: var(--blue);
}

.Services-info button{
    padding: 10px 30px;
}

/*--------box-background------*/
.box-background{
    height: 50vh;
    margin-top: 100px;
    background-color: var(--blue);
}
.box-background img{
    width: 100%;
    height: inherit;
    opacity: 30%;
}

@media (max-width: 576px) {

    .Our-Services{
        padding:30px;
    }
    .Our-Services-Top{
        text-align: center;
    }

    .Our-Services-Top h2{
        font-weight: bold;
        margin-bottom: 20px;
    }

    .List-group{
        row-gap: 10px;
    }
    .List-group a{
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
    }
    .Services-Box{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        justify-content: center;
    }

    .Services-info button{
        padding: 5px 25px;
    }


    /*--------box-background------*/
    .box-background{
        height: 50vh;
    }
}

@media (min-width: 577px) and (max-width: 768px) {

    .Our-Services{
        padding:30px;
    }

    .Our-Services-Top{
        text-align: center;
    }

    .Our-Services-Top h2{
        font-weight: bold;
        margin-bottom: 20px;
    }

    .List-group{
        row-gap: 15px;
    }
    .List-group a{
        margin-bottom: 15px;
        padding: 12px;
        border-radius: 5px;
        font-size: 17px;
    }

    .Services-Box{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        justify-content: center;
    }
}